{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}
<div class="row">
  {% for destination in destinations %}
      <div class="col-12 col-md-4 card-deck">
      <div class="card m-3">
      <img src="{{destination.pretty_picture.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{destination.name}}</h5>
        <p class="card-text">{{destination.activities}}</p>
        <a href="{% url 'destination-detail' destination.id %}" class="btn btn-dark">See More</a>
  </div>
</div>
    </div>
      {% endfor %}
</div>
{% endblock content %}